// 重置盒模型
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


//
// 栅格系统配置
//
$column: 12;  // 栅格总数
$column-width: 100% / $column;  //计算每个栅格的宽度


//
// 容器生成
//
// $side 左右边距，"auto" 时居中显示
@mixin container($width:100%, $side:null) {
  max-width: $width;
  @if $side {
    margin-left: $side;
    margin-right: $side;
  }
}


//
// 栅格生成
//

// $n 表示栅格数量
// $inner-width 为左右内边距
@mixin grid($n:1, $inner-width:null) {
  @extend .border-box;
  width: $column-width * $n;
  display: inline;
  float: left;
  @if $inner-width {
    padding-left: $inner-width;
    padding-right: $inner-width;
  }
}

// 左侧缩进
@mixin push($offset:1) {
  margin-left: $column-width * $offset;
}

// 右侧牵引
@mixin pull($offset:1) {
  margin-right: $column-width * $offset;
}
